

html {
  background-color: antiquewhite;
  margin: 0;
  width: 100vw;
  height: 100vh;
    
}





.header img {
  float: left;
  width: 5vh;
  height: 5vh;

}

.header h1 {
  position:relative;
  top: 2vh;
  left:20vh ;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  font-style: italic;
  
  
}
.footer{
padding: 20vh ;
position:relative;
display: flex;

}
#menu ul{
  list-style: none;
  
    
  width: auto;
    margin: 1vh;
    padding: 1vh;
}
#menu li{
  background-color: rgb(224, 224, 238); 
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  display: inline-block;
  padding-right: 10%;
  width: auto;
  margin-right: 0.5%;
  border-radius: 25px;
  padding-left: 10px;
  margin-left: 100;
}
#menu1 ul{
  list-style: none;
  
  width: auto;
    
    margin: 1vh;
    padding: 1vh;
}
#menu1 li{
  
  list-style-type: none;
  display: inline-block;
  padding-right: 10%;
  width: auto;
  margin-right: 0.5%;

  padding-left: 1vh;
  margin-left: 4vh;
}




#indexp1{
color: black;
display: inline-block;
position: relative;
left: 7vh;
width: auto;
height:auto;

  font-style: normal;
  font-weight: 2vh;
     font-size: 2vh;
    


}

#indexp2{
  color: black;
  display: inline-block;
  position: relative;
  left: 7vh;
  width: auto;
  height: auto;
  
    font-style: normal;
    font-weight: 200;
       font-size: 2vh;
      
  
}



#indexp3{
  color: black;
  display: inline-block;
  position: relative;
  left: 7vh;
  width: auto;
  height: auto;
  
    font-style: normal;
    font-weight: 200;
       font-size: 2vh;
      
}


#indexp4{
  color: black;
  display: inline-block;
  position: relative;
  left: 7vh;
  width: auto;
  height: auto;
  
    font-style: normal;
    font-weight: 200;
       font-size: 2vh;
      
}

#turtle{
padding-left: 10vh;
padding-top: 10vh;
display: flex;
max-width: 100%;
}

#dolphinimg{  
  padding-top: 10vh;
  padding-right: 10vh;
  display: flex;
  float: right;
  max-width: 100%;
  
       
}
#shark{
  padding-left: 10vh;
  padding-top: 30vh;
  display: flex;
  max-width: 100%;
}
#ray{
  padding-top: 10vh;
  padding-right: 10vh;
  display: flex;
  float: right;
  max-width: 100%;
}
#about{
font-family: Arial, Helvetica, sans-serif;
font-size: 2vh;




}
#des{
  font-size: 2vh;
}

